iframe {
  display: none;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: burlywood;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #ccc;
}

